
/* Style for body specifies a background color */
body {
	background: linear-gradient(to top right, #fff 0%, #6699ff 100%) no-repeat fixed center;
    font-family: Geneva, Arial, sans-serif;
}


h1 {
    color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    color: navy;
}

p {
    color: navy;
    margin: 100px;
        
}

.navbar ul {
    list-style-type: none;
    background-color: navy;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px
}

/* Style for the container element */
#container {
	width: 90%;
	margin: 0 auto;
}

/* Style rules for form elements */


/* Style for the footer element */
footer {
	font-size: .9em;
	text-align: center;
}

/* Media query for tablet layout */ 
@media only screen and (min-width: 600px) {
	form {
		width: 80%;
		margin: 0 auto 0 auto;
	}

	.grid {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: auto auto;
	}

	.btn {
		grid-column: 1 / span 2;
		padding: 3%;
	}
    
}

/* Media query for mobile viewport */
@media only screen and (min-width: 320px) {
	fieldset, input, textarea {
		margin-bottom: 2%;

	}

	fieldset legend {
		font-weight: bold;
		font-size: 1.25em;
	}

	form #submit {
		border: none;
		margin-top: 0 auto;
		display: block;
		padding: 5%;
		background-color: #003399;
		font-size: 1.25em;
		border-radius: 10px;
		color: #fff;
		
	}

    form a {
        border: none;
		margin-top: 0 auto;
		display: block;
		padding: 5%;
		background-color: #003399;
		font-size: 1.25em;
		border-radius: 10px;
		color: #fff
    }
}
